stages:
  - build
  - test
  - docker-build

build:
  stage: build
  image: node
  script: 
    - echo "Start building App"
    - npm install
    - npm run build
    - echo "Build successfully!"
  only: 
    - master 

# artifacts:
#   expire_in: 1 hour
#   paths:
#     - build
#     - node_modules/

test:
  stage: test
  image: node
  script:
    - echo "Testing App"
    - npm install
    - npm run build
    - CI=true npm test
    - echo "Test successfully!"
  only: 
    - develop

docker-build:
  stage: docker-build
  image: docker:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
  before_script:
    - docker login -u "$DOCKER_REGISTRY_USER" -p "$DOCKER_REGISTRY_PASS" $DOCKER_REGISTRY_URL
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE" .
    - docker push "$DOCKER_REGISTRY_URL/intxt/$CI_REGISTRY_IMAGE"
